numpy==1.26.4
onnxruntime==1.23.2
websockets==14.2
pyyml==0.0.2
opuslib_next==1.1.5
pydub==0.25.1
openai==2.8.1
google-genai==2.24.0
edge_tts==7.2.6
httpx==0.28.1
aiohttp==3.13.2
loguru==0.7.3
requests==2.32.5
mcp==1.22.0
aioconsole==0.8.2
PyJWT==2.10.1
cryptography==50.0.1
portalocker==3.2.0
Jinja2==3.1.6
tabulate==0.10.0
